<!DOCTYPE html>
<html lang="en">

  <head>
    <!--Meta Data-->
    <%- include('partial/title.ejs'); %> 

    <% if (data.NODE_ENV == 'production') { %>
      <!-- Production Stylesheets -->
      <link rel="stylesheet" href="assets/production/css/terms.min.css">

    <% }else { %>
      <!-- Development Stylesheets -->
      <link rel="stylesheet" href="assets/lib/css/bootstrap.min.css">
      <link rel="stylesheet" href="assets/lib/css/fontawesome.min.css">
      <link rel="stylesheet" href="assets/lib/css/responsive.css">
      <link rel="stylesheet" href="assets/lib/css/select2.min.css">
      <link rel="stylesheet" href="assets/lib/css/spacing.css">
      <link rel="stylesheet" href="assets/lib/css/style.css">
      <link rel="stylesheet" href="assets/lib/css/owl.carousel.min.css">
      <link rel="stylesheet" href="assets/lib/css/bootstrap-datepicker.min.css">
      <link rel="stylesheet" href="assets/lib/css/magnific-popup.css">
      <link rel="stylesheet" href="assets/css/header.css">

    <% } %>

  </head>

  <body onLoad="typeWriter()">
    <!--Header-->
    <%- include('partial/header.ejs', {data: data }); %>

    <!--About Start-->
    <div class="about-page pt_60 pb_30">
      <div class="container">
        <h2>TERMS AND CONDITIONS</h2>
        <div class="row">
          <div class="col-md-12">
            <p>When booking an appointment through our platform, you agree to provide accurate and up-to-date information, including your personal details and medical history. It is your responsibility to ensure that the information provided is correct and complete. Any discrepancies may affect the quality of care provided by the doctor.</p>
            <p>If you need to cancel or reschedule your appointment, you must do so within the specified time frame, typically at least 24 hours before the scheduled appointment time. Failure to do so may result in a cancellation fee or forfeiture of your appointment slot. We understand that emergencies may arise, and exceptions may be made on a case-by-case basis.</p>
            <p>While we make every effort to ensure the availability of doctors listed on our platform, we cannot guarantee their availability at all times. Doctors may have limited availability due to their schedules, patient load, or other factors. If your preferred doctor is unavailable, we will do our best to offer alternative options.</p>
            <p>Our platform facilitates the booking of appointments with healthcare providers, but it does not provide medical advice or treatment directly. The information provided on our platform is for informational purposes only and should not be considered a substitute for professional medical advice, diagnosis, or treatment. Always consult with a qualified healthcare provider regarding your medical concerns.</p>
            <p>We take your privacy seriously and adhere to strict confidentiality guidelines in accordance with applicable laws and regulations. Your personal and medical information will be kept confidential and will only be shared with healthcare providers involved in your care. We use industry-standard security measures to protect your data from unauthorized access or disclosure.</p>
          </div>
        </div>
      </div>
    </div>
    <!--About End-->

    <!--Footer-->
    <%- include('partial/footer.ejs'); %>
    
    <script>
      var i = 0;
      var txt = 'WELCOME TO DocConect';
      var speed = 60;

      function typeWriter() {
        if (i < txt.length) {
          document.getElementById("typeit").innerHTML += txt.charAt(i);
          i++;
          setTimeout(typeWriter, speed);
        }
      }
    </script>

    <!-- JavaScript -->
    <script defer src="assets/lib/js/jquery-3.4.1.min.js"></script>
    <script defer src="assets/lib/js/popper.min.js"></script>
    <script defer src="assets/lib/js/bootstrap.bundle.min.js"></script>
    <script defer src="assets/lib/js/all.min.js"></script>
    <script defer src="assets/lib/js/select2.full.min.js"></script>
    <script defer src="assets/js/about.js"></script>

  </body>
</html>